@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  background-color: #b8e5ff !important;
}

.searchboxAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /*background-color: blue;*/

  height: 10%;
}

.searchbox {
  width: 60%;
  height: 50px;
  background-color: #5171a5;
  border-radius: 5px;
}

.searchbar {
  width: 90%;
  height: 100%;
  border: 5px solid #5171a5;
  border-radius: 5px;
}

.searchButton {
  background-color: #5171a5;
  height: 90%;
  width: 9%;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  border: 0px;
}



.mainInputbox {
  background-color: #f1c8db;
  width: 57%;
  margin: auto;
  padding: 2%;
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
  height: 30px;
  border-radius: 7px;
  margin: 0px;
  width: 100%;
  border: 0px;
}

#eventCost {
  width: 6%;
}

#btnSubmitEvent {
  background-color: #5171a5;
  color: #fff;
  height: 50px;
  width: 150px;
  border-radius: 6px;
  border: 0px;
  margin-left: 40%;
}

textarea {
  width: 100%;
  height: 90px;
  border-radius: 7px;
  border: 0px;
}

select {
  width: 100%;
  height: 30px;
  border-radius: 7px;
  border: 0px;
}

button a {
  text-decoration: none;
  color: #fff;
}



.container {

  margin-top: 100px;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-family: "Great Vibes", sans-serif;
  text-align: center;
}

.btnAddEvent {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;

}

.btnAddEvent:hover {
  background-color: #0056b3;
}

.favoritenliste {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;

}

.favoritenliste:hover {
  background-color: #0056b3;
}

.btnCen {
  text-align: center;
}